{% extends "movie/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'movie/watchlist.css' %}">
{%endblock%}

{% block body %}

<div class="container">
  {% if not user.is_authenticated %}
  <div class="row">
      <div class="col-md-2 offset-10">
        <a class="btn btm-sm btn-primary" href="{% url 'subscribe' username=username %}">Subscribe</a>
      </div>
  </div>
  {%endif%}
   <div class="row">
    {% if movies %}
  {%for movie_item in movies %} 
  <div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://image.tmdb.org/t/p/w500/{{movie_item.poster}}"/>
      <h1>{{movie_item.title}}</h1>
      <h4>{{movie_item.year}}</h4>
      <span class="minutes">{{movie_item.runtime}}</span>
      <p class="type">{{movie_item.genre}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{movie_item.plot}}
      </p>
      <p class="text">
        Cast:{{movie_item.cast}}
      </p>
    </div>
    <div>
        <a class="btn" href=""><i class="fa fa-plus"> Recommend</i></a>                
      </div>
  </div>
  <div style="background: url({{movie_item.poster}});" class="blur_back"></div>
</div>   
{%endfor%}
    {% endif %}
    {% if user.is_authenticated and Error %}
<p>You havent made any recommendations yet. please search movie to recommend</p>
    {% endif %}

  </div>
</div>

{% endblock %}