{% extends "movie/base.html" %}

{% block body %}

<div class="container">
 <div class="row">
    <div class="col-md-12"> 
      {% include "movie/searchbox.html" with name="user_name" placeholder="Search users.."%}       
     </div>    
 </div>

   {% for each_user in searched_users %}
     <div class="row">
      <div class="col-md-3 offset-3 pt-4">
         <a href="">{{each_user.first_name}} {{each_user.last_name}}</a>
         <a href="{% url 'subscribe' userid=each_user.id %}" class="btn btn-sm btn-danger pull-right">subscribe</a>                      
      </div>  
    </div>
    {%endfor%}

 {% for each_subscription in subscribed_users %}
 <br>
 <div class="row">
      <div class="col-md-3 offset-3 pt-4">
         <a href="">{{each_subscription.first_name}} {{each_subscription.last_name}}</a>
         <a href="{% url 'unsubscribe' userid=each_subscription.id %}" class="btn btn-sm btn-danger pull-right">unsubscribe</a>                      
      </div>  
 </div>
 {%endfor%}
</div>

{% endblock %}