{% extends "movie/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'movie/watchlist.css' %}">
{% endblock %}
{% block body %}

<div class="container">
 
 <div class="row">
    <div class="col-md-12"> 
      {% include "movie/searchbox.html" with name="moviename" placeholder="Search movies.."%}       
     </div>    
 </div>
<div class="row">
 {% if user.is_authenticated and response.total_results > 0 %}
  {%for movie in response.results %}
  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"/>
        <h1>{{movie.title}}</h1>
        <h4>{{movie.release_date}}</h4>
        {% comment %} <span class="minutes">{{movie.runtime}}</span> {% endcomment %}
        {% comment %} <p class="type">{{movie.genre}}</p> {% endcomment %}
      </div>
      <div class="movie_desc">
        <p class="text">
          {{movie.overview}}
        </p>
        <p class="text">
          {% comment %} Cast:{{movie.cast}} {% endcomment %}
        </p>
      </div>
      <div>
        <a class="btn btn-sm btn-primary pull-right" href=""><i class="fa fa-plus"> Recommend</i></a>                
      </div>
    </div>
    <div style="background: url('https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}');" class="blur_back"></div>
  </div> 
{% endfor %}
{% endif %}  
    {% if user.is_authenticated and response.total_results == 0 %}
    <div class="row offset-1">  
      <br><br>Movie not found: {{title}}</p>
    </div>
    {% endif %}

</div>
{% comment %} 
  {% if showpagination %}
   <div class="row">
        <div class="col-md-3 offset-md-9">
            <ul class="pagination justify-content-end"">
                {% if movies.has_previous%}
                    <li class="page-item">
                        <a class="page-link" href="?page={{movies.previous_page_number}}">Previous</a>
                    </li>
                {%endif%}
                
                {% if showpagination %}
                <li class="page-item active">
                        <a class="page-link" href="?page={{movies.number}}">Current</a>
                </li>                
                {%endif%}

                {% if movies.has_next%}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{movies.next_page_number}}">Next</a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </div>
  {% endif %} {% endcomment %}

</div>

{% endblock %}